<div class="content">
  <p class="title is-3"><%= I18n.t('bill.call.title') %></p>

  <table class="table is-narrow">
    <thead>
    <tr>
      <th><%= I18n.t('bill.call.called') %></th>
      <th><%= I18n.t('bill.call.duration') %></th>
      <th><%= I18n.t('bill.call.cost') %></th>
    </tr>
    </thead>
    <tbody>
    <% @bill.calls.each do |call| %>
        <tr>
          <td><%= call[:called] %></td>
          <td><%= call[:duration] %></td>
          <td class="has-text-right"><%= call[:cost] %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <div class="has-text-right">
    <span class="tag is-medium"><%= @bill.call_charges_total %></span>
  </div>
</div>