<div class="content">
  <div class="columns">
    <div class="column">
      <div class="notification center-if-mobile">
        <p class="heading"><%= I18n.t('bill.due_date') %></p>
        <p class="title"><%= @bill.due_date %></p>
      </div>

    </div>
    <div class="column">
      <div class="notification is-primary has-text-right center-if-mobile">
        <p class="heading"><%= I18n.t('bill.total') %></p>
        <p class="title"><%= @bill.total %></p>
      </div>
    </div>
  </div>
</div>