<div class="content">
  <p class="title is-3"><%= I18n.t('bill.sky_store.title') %></p>
  <div class="columns">
    <div class="column">
      <p class="title is-5"><%= I18n.t('bill.sky_store.rentals')%></p>
      <% @bill.sky_store_rentals.each do |rental| %>
          <div class="columns">
            <div class="column is-three-quarters"><%= rental[:title] %></div>
            <div class="column has-text-right"><%= rental[:cost] %></div>
          </div>
      <% end %>
    </div>
    <div class="column">
      <p class="title is-5"><%= I18n.t('bill.sky_store.rentals')%></p>
      <% @bill.sky_store_buy_and_keep.each do |buy_and_keep| %>
          <div class="columns">
            <div class="column is-three-quarters"><%= buy_and_keep[:title] %></div>
            <div class="column has-text-right"><%= buy_and_keep[:cost] %></div>
          </div>
      <% end %>
    </div>
  </div>
  <div class="has-text-right">
    <span class="tag is-medium"><%= @bill.sky_store_total %></span>
  </div>
</div>