<div class="content">
  <p class="title is-3"><%= I18n.t('bill.subscriptions') %></p>
  <% @bill.subscriptions.each do |subscription| %>
      <div class="columns">
        <div class="column is-three-quarters">
          <%= subscription[:name] %>
        </div>
        <div class="column has-text-right">
          <%= subscription[:cost] %>
        </div>
      </div>
  <% end %>
  <div class="has-text-right">
    <span class="tag is-medium"><%= @bill.subscriptions_total %></span>
  </div>
</div>