<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Sky Bill</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.0.28/css/bulma.min.css">
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <div class="container bill-size">
    <div>
      <img src="https://assets.sky.com/dist/1305/static/sky-logo-redesign.png">
    </div>

    <%= erb :'partials/resume', :layout => false %>

    <div class="content">
      <div class="columns">
        <div class="column">
          <%= erb :'partials/subscriptions', :layout => false %>
        </div>
        <div class="column">
          <%= erb :'partials/sky_store', :layout => false %>
        </div>
      </div>
    </div>

    <%= erb :'partials/call_charges', :layout => false %>

    <%= erb :'partials/resume', :layout => false %>
  </div>
</body>
</html>