<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Sky Bill</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.0.28/css/bulma.min.css">
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <div class="container">
    <section class="hero">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title">
            Houston
          </h1>
          <h2 class="subtitle">
            We have a problem
          </h2>
        </div>
      </div>
    </section>
    <div class="has-text-centered">
      <%= @description %>
    </div>
  </div>
</body>
</html>